<li class="nav-dropdown-container support-machinelabs">
  <a class="nav-link">Support MachineLabs</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><ul>
      <li><a href="https://paypal.me/machinelabsai" target="_blank" class="nav-link">Make a one-time donation via PayPal</a></li>
      <li><a href="https://www.patreon.com/machinelabs" target="_blank" class="nav-link">Support us on Patreon</a></li>
    </ul></li>
  </ul>
</li>
